## Basic of Python

In this video we will discuss about 

- Various Datatypes in Python
- Variable 
- Variables Assigment
- Print Formatting

## Various DataTypes in Python

### Numbers

# Python Tutorial

## Welcome to Python Tutorial


- Datatype

In [1]:
1+4

5

In [2]:
4*10

40

In [4]:
2*10

20

In [3]:
10/9

1.1111111111111112

In [4]:
10%5

0

In [5]:
2**4/2

8.0

In [8]:
10**2

100

In [6]:
type(100)

int

In [7]:
type(179.78)

float

In [25]:
##Check the Data types

In [4]:
type(True)

bool

In [27]:
type("Hello")

str

### Strings

In [9]:
"Helloworld"

'Helloworld'

In [10]:
'Keerthi chelluri'

'Keerthi chelluri'

In [11]:
type("Keerthi")

str

### Variable Assigment

In [18]:
# syntax
# var_name=va
a=12
b=123.4

In [20]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [15]:
a='Krish Naik'

In [16]:
type(a)

str

In [17]:
## Mathematical operation with Variable Assigment

a=10
b=2

In [25]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

1480.8000000000002
0.0972447325769854
12.0
1480.897244732577

In [20]:
## Various Ways of Printing

print("Hello")

Hello

In [21]:
first_name='Keerthi'
last_name='chelluri'

In [22]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Keerthi and last name is chelluri

In [23]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Keerthi and last name is chelluri

In [24]:
len('Keerthi')

7

In [15]:
type(['1',2,3,4,5])

list